@font-face {
    font-family: 'PlayfairDisplay-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: Ubuntu_Light;
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
}

html {}

body {}

.container {
    width: 100%;
}

.inner {
    width: 1060px;
    margin: 0 auto;
}

.sub-inner {
    margin-bottom: 100px;
}

.inner2 {
    width: 900px;
    margin: 0 auto;
}

header .inner {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: 400;
    color: black;
}

.menu nav {
    overflow: hidden;
}

.menu ul {
    list-style: none;
    margin-right: -60px;
}

.menu ul li {
    display: inline-block;
    padding: 30px;
    margin: 30px;
    font-family: PlayfairDisplay-Regular, serif;
    font-size: 14px;
    color: grey;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: grey;
}


.navigation {
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: Ubuntu_Light, sans-serif;
    font-size: 14px;
    color: grey;
}

h1 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'PlayfairDisplay-Regular', serif;
    font-size: 30px;
    color: grey;
}

article {
    margin-bottom: 25px;
    margin-top: 20px;
    font-family: PlayfairDisplay-Regular, serif;
    font-size: 14px;
    color: grey;
    line-height: 1.5em;
}

.comment {
    margin-top: 25px;
    margin-bottom: 130px;
    font-family: Ubuntu-Light, sans-serif;
    font-size: 14px;
    color: grey;
}

.preview {
    display: grid;
    grid-template-areas: "article1 article2"
        "article3 article4"
        "article5 article6";
}

.picture {
    margin-bottom: 15px;
}

.category {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Ubuntu-Light, sans-serif;
    font-size: 14px;
    color: grey;
}

.article_title {
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: PlayfairDisplay-Regular, serif;
    font-family: 30px;
    color: grey;
}

.article-preview {
    width: 420px;
    line-height: 1.5em;
}

.article1 {
    margin-bottom: 60px;
    margin-right: 30px;
}

.picture2 {
    margin-bottom: 15px;
}

.article2 {
    margin-bottom: 60px;
    margin-left: 30px;
}

.article3 {
    margin-right: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.article4 {
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

#form {
    display: flex;
    background-color: #f0f0f0;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 80px;
    padding-bottom: 70px;
}

.form-title {
    font-family: PlayfairDisplay-Regular, serif;
    font-size: 30px;
    color: #333333;
    padding-bottom: 45px;
}

input {
    background-color: transparent;
    border: 0px solid;
    font-family: PlayfairDisplay-Regular, serif;
    font-size: 14px;
    color: grey;
    width: 360px;
}

.form-text {
    padding-top: 45px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}


input:focus {
    outline:none;
}

button {
    padding: 0;
    border: none;
    background: none;
}

.article5 {
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 85px;
}

.article6 {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 85px;
}

#button {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 260px;
    width: 160px;
    height: 60px;
    border: 1px solid grey; 
}

.button-text {
    font-family: PlayfairDisplay-Regular, serif;
    font-size: 20px;
    color: grey
}

footer {
    display: flex;
    grid-template-areas: "terms social";
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    background-color: #f0f0f0;
    height: 100px;
}

.terms {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 150px;
}

.terms-list {
    list-style: none;
    padding-left: 0px;
}

.terms-list li {
    display: inline;
}

.terms-list a {
    font-family: PlayfairDisplay-Regular, serif;
    font-size: 14px;
    color: black;
}

.conditions {
    padding-right: 10px;
}

.privacy {
    padding-left: 10px;
}

#social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 70px;
    font-family: 'PlayfairDisplay-Regular', serif;
    font-size: 14px;
    color: black;
}

.facebook {
    padding-left: 20px;
    padding-right: 20px;
}

.twitter {
    padding-right: 20px;
}
